<div class="row">
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header" data-translate="clevergridApp.game.create">Create New Game</h1>
		<form class="form-inline" role="form" ng-submit="vm.save()">
			<div class="form-group">
				<jhi-alert-error></jhi-alert-error>
				<label class="control-label"
					data-translate="clevergridApp.game.title" for="field_title">Title</label>
				<input type="text" class="form-control" name="title"
					id="field_title" ng-model="vm.game.title" />
				<div class="checkbox">
					<label class="control-label"
						data-translate="clevergridApp.game.isPublic" for="field_isPublic">Is
						Public</label> <input type="checkbox" class="form-control" name="isPublic"
						id="field_isPublic" ng-model="vm.game.isPublic" />
				</div>
			</div>
			<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
				class="btn btn-primary">
				<span class="glyphicon glyphicon-save"></span>&nbsp;<span
					data-translate="entity.action.save">Next</span>
			</button>
		</form>
	</div>
</div>