	<div class="row">
        <div class="col-xs-12 main">
			<h1 class="page-header">Search result for:{{search}}</h1>
			<h4>Games:</h4>
			<ul class="nav">
				<li ng-repeat="game in games"><a href="" ng-click="editGame(game._links.self.href)">{{game.title}}</a></li>
			</ul>
			<h4>Topics:</h4>
			<ul class="nav">
				<li ng-repeat="topic in topics"><a href="" ng-click="editGame(topic._links.game.href)">{{topic.title}}</a></li>
			</ul>
			<h4>Questions:</h4>
			<ul class="nav">
				<li ng-repeat="q in questions | limitTo: 20"><a href="" ng-click="editGameByTopic(q._links.topic.href)"><p ng-bind-html="renderHtml(q.question)"></p></a></li>
			</ul>
			<h4>Answers:</h4>
			<ul class="nav">
				<li ng-repeat="a in answers | limitTo: 20"><a href="" ng-click="editGameByTopic(a._links.topic.href)"><p ng-bind-html="renderHtml(a.answer)"></p></a></li>
			</ul>
		</div>
	</div>
