	<div class="row">
        <div class="col-xs-12 main">
			<h1 class="page-header">{{activeGame.title}}</h1>
			<div class="row">
				<div class="col-xs-{{(12 - (12 % players.length)) / players.length}}" ng-repeat="player in players">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h1><a class="label label-{{colors[$index]}}" editable-text="player.name">{{player.name || 'Empty'}}</a></h1>
						</div>
						<div class="panel-body">
							<div class="row">
                                <div class="col-xs-7">
									<h3>Score: <a editable-text="player.score">{{player.score}}</a></h3>
                                </div>
                                <div class="col-xs-3">
                                    <i class="fa fa-check fa-4x" data-toggle="tooltip" title="Current player" ng-show="playerIdx == $index"></i>
                                </div>
							</div>
						</div>
						<div class="panel-footer">
							<label for="topic">Topic:</label>
							<select id="topic" ng-model="player.topic" ng-options="topics.indexOf(topic) as topic.title for topic in topics" ng-disabled="gameStarted"></select>
						</div>
					</div>
				</div>
			</div>
			<div class="alert alert-info" ng-hide="topicsSelected.length == topics.length">
				<strong>Select topics before you start</strong>
			</div>
			<hr/>
			<div class="row" ng-show="topicsSelected.length == topics.length">
				<div class="col-xs-12 text-center">
					<a class="btn btn-danger btn-lg" ng-click="gameStarted = true;showQuestions();" ng-hide="gameStarted">Start</a>
				</div>
				<div class="col-xs-{{(12 - (12 % dimension)) / dimension}}" ng-repeat="qindex in qindexes" ng-show="gameStarted">
					<a class="btn btn-{{selectedQuestions.indexOf($index) > -1 ? colorByTopicIdx(qindex.t) : 'default'}} btn-block" data-target="#qModal" data-toggle="modal" ng-click="selectQuestion($index)" ng-disabled="selectedQuestions.indexOf($index) > -1">
						<h3>{{$index + 1}}</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
    <div id="qModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="qModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 id="qModalLabel">
						<span class="label label-{{qColor}}">Question</span>
						 for 
						<span class="label label-{{colors[playerIdx]}}">{{players[playerIdx].name || 'current player'}}</span>
					</h3>
				</div>
				<div class="modal-body">
					<h3>Question:</h3>
					<h2 ng-bind-html="renderHtml(question)"></h2>
					<button class="btn btn-default btn-large" ng-click="showAnswer = true;stopTime()" ng-show="!showAnswer">Show answer</button>
					<div ng-show="showAnswer">
						<h3>Answer:</h3>
						<h2 ng-bind-html="renderHtml(answer)"></h2>
					</div>
				</div>
				<div class="modal-footer">
					<h3 class="pull-left" ng-hide="showAnswer || timeToAnswer==0">Time: {{timeToAnswer}}</h3>
					<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="takeAnswer(true)" ng-disabled="!showAnswer">Correct</button>
					<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" ng-click="takeAnswer(false)" ng-disabled="!showAnswer">Incorrect</button>
				</div>
			</div>
		</div>
	</div>
	